.project-card-head {
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-areas: 
        "title id"
        "title display"
        "info spare-time"
    ;
    grid-gap: .25em 5px;

    &, & > * {
        justify-content: space-between;
    }

    $areas: (id, title, display, info, spare-time);
    @each $prop in $areas {
        &-#{$prop} {
            grid-area: $prop;
        }
    }

    &-id {
        justify-self: flex-end;
    }

    &-title {
        display: inline;
        font-size: 2rem;
        height: 1.3em;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: start;
        margin: 0 auto;
        max-width: 100%;
    }

    &-info {
        display: grid;
        grid-auto-flow: column;
        font-size: 1rem;
        gap: .5em;
        height: 1.5rem;

        > * {
            line-height: 1.5rem;
            height: 1.5rem;
            margin: 0;
            text-overflow: ellipsis;
           overflow: hidden;
        }
    }
}

.projects-page .project-card-head {
    grid-template-columns: auto repeat(2, 13.75%);
    grid-template-areas: 
        "title title bookmark"
        "info spare-time spare-time"
    ;

    .bookmark {
        grid-area: bookmark;
        top: -.15em;
        margin-left: auto;
    }
}