@import 'components/shared/scss/lib';

.container.project-filter {
    display: grid;
    grid-template-areas: "filter" "totop";
    grid-auto-columns: 1fr;
    place-items: center;
    grid-gap: .5rem 0;

    $animation-time: 250ms;
    --animation-time: #{$animation-time};

    position: relative;
    top: -1vh;

    height: auto;
    width: 50vw;
    padding: 2vh;
    background-color: var(--bg-tertiary);
    
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    border: 1px solid var(--thm-secondary);
    border-top: unset;
    
    &.fixed {        
        box-shadow: 0px 10px 10px var(--shadow-clr);
        
        position: fixed;
        z-index: 2;
        top: 0;
        height: auto;

        @include animate(top-to-top);

        @include mq(tiny) {
            justify-content: center;
        }

        &.animation-reverse {
            @include animate(top-to-top-reverse)
        }
    }

    .to-top {
        width: fit-content;
        font-size: 1em;
        color: var(--link-item-color-hover);
    }

    .options {
        max-height: 17vh;
        overflow: auto;
    }

    .render-cards-toggle {
        &::before {
            color: var(--clr-senary);
            cursor: pointer;
        }
        
        &:hover::before {
            @include transition(color);
            color: var(--clr-primary);
        }
    }

    label, .closable-input {
        @extend %flexible;
        flex-direction: row;
        align-items: center;
        width: 100%;

        input { flex: 1; }
    }

    .closable-input {

    }

    @include mq(tiny) {
        li:last-child {
            grid-area: totop;
            align-self: baseline;
        }
        &, label {
            width: 100%;
        }
    }
}

.close {
    @extend %pressable-hoverable;
    color: map-get($map: $cruds, $key: delete);
    position: absolute !important;
    right: .25em;
}