%clickable {
    cursor: pointer;
}
%click-me {
    @import '@/scss/variables';
    @extend %clickable;

    color: $color-click-me;
    text-decoration: underline;
    transition: font-weight $transition-hover;

    &:hover {
        color: lighten($color-click-me, $theme-difference);
        font-weight: bold;
    }
}

%hoverable-color {
    @import '@/scss/variables';

    color: $color-hoverable;
    transition: color $color-hoverable;

    &:hover {
        color: $color-hover;
    }
}
%hoverable-background {
    @import '@/scss/variables';

    background-color: $background-hoverable;
    transition: color $transition-hover;
    transition-timing-function: ease-in-out;

    &:hover {
        background-image: linear-gradient($background-hover, $background-hoverable, $background-hover);
    }
}
%hoverable-border {
    @import '@/scss/variables';

    border: $non-content-border;
    transition: border-color $transition-hover;

    &:hover {
        border: $non-content-border-hover;
    }
}

%shadow-me {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
%rounded {
    @import '@/scss/variables';
    border-radius: $radius;

    &::-webkit-scrollbar { border-radius: $radius; }
    &::-webkit-scrollbar-track { border-radius: $radius; }
    &::-webkit-scrollbar-thumb { border-radius: $radius; }
}

%non-content {
    @extend %hoverable-color;
    @extend %hoverable-background;
    @extend %hoverable-border;
    @extend %shadow-me;
    @extend %rounded;

    display: flex;
    flex-direction: row;
    width: 98.8%;
    margin: .5%;
    
    > * {
        height: 100%;
    }

    &:hover {
        background-image: unset;
    }
}