@import '../lib/variables';

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-primary;
    color: $clr-primary;
}

h1 {
    font-size: 3em;
}

button {
    @extend %shadow, %pressable-hoverable;
    @include transition(color, border, background-color, shadow);
    font-size: 2em;
    padding: .5em;
    border: 4px solid $bg-quaternary;
    color: $clr-secondary;
    background-color: $bg-secondary-opacity;
    border-radius: $border-radius;

    &:hover {
        @include gradient-background($bg-quaternary, $bg-tertiary);
        border-color: $bg-quinary;
        color: $clr-primary;
    }

    @each $key, $value in $cruds {
        &[data-crud-type=#{$key}] {
            $value-mix-percentage: 15%;
            $value-mix: mix($value, $bg-secondary, $value-mix-percentage);

            @include transition(color, background-color, border-color);
            color: mix($value, $clr-primary, 75%);
            background-color: $value-mix;
            @debug calc($value-mix-percentage * (100 / 10));
            border-color: mix($value, $bg-primary, $value-mix-percentage);
    
            &:hover {
                color: $value;
                border-color: mix($value, $bg-tertiary, 75%);;
                background: radial-gradient(circle, $bg-secondary 0%, $value-mix 25%)
            }
        }
    }
}

input {
    border-radius: $border-radius;
    background-color: $bg-quinary;
    color: $clr-primary;
    padding-left: .25em;
    padding-top: .1em;
}

fieldset {
    @extend %shadow;
    @include transition(color, background-color, border-color);

    padding: 1em;
    padding-top: .5em;
    color: $clr-tertiary;
    background-color: $bg-tertiary;
    border-color: $thm-tertiary;
    border-radius: $border-radius;

    &:hover {
        color: $clr-secondary;
        border-color: $thm-secondary;

        legend {
            color: $thm-primary;
        }
    }

    legend {
        color: $thm-secondary;
        font-size: 24px;
        font-weight: bold;
    }
}

table {
    @extend %shadow;

    display: grid;
    width: fit-content;
    min-width: 80%;
    
    background-color: $bg-primary;
    border: 1px solid $thm-secondary;
    border-radius: $table-round;
    padding: .5em;
}

thead {
    background-color: $bg-secondary;
    color: $thm-primary;
    border-radius: $table-round $table-round 0px 0px;
}
tbody tr:hover {
    background-color: $bg-quinary;
    color: $clr-primary;
}

tr {
    @include transition(background-color, color);
    display: grid;
    grid-template-columns: repeat(4, 25%); /* Course, Start, End, Duration */
    place-items: center;

    &:last-child {
        // border-radius: 0px 0px $table-round $table-round;
        border-radius: repeat(2, 0px) repeat(2, $table-round);
    }
}

th { font-size: 2.75em; }
td { font-size: 2em; }

textarea {
    height: 100%;
    
    background-color: $bg-quaternary;
    color: $clr-secondary;
    border-radius: $border-radius;
    padding: .25em;
    resize: none;

    &:focus {
        outline: unset;
    }
}