@import '../lib';

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

html {
    @include reduced-motion(false) {
        scroll-behavior: smooth;
    }
}

body {
    background-color: var(--bg-primary);
    color: var(--clr-primary);
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    margin: .25em 0;
    line-height: 2rem;
    max-width: 100rem;

    > * { font-size: inherit; }
}

li {
    display: block;
}

button {
    @extend %shadow, %pressable-hoverable;
    @include transition(color, border, background-color, shadow);
    font-size: 2rem;
    padding: .5em;
    border: 4px solid var(--bg-quaternary);
    color: var(--clr-secondary);
    background-color: var(--bg-secondary-opacity);
    border-radius: var(--border-radius);

    &:hover {
        @include gradient-background(var(--bg-quaternary), var(--bg-tertiary));
        border-color: var(--bg-quinary);
        color: var(--clr-primary);
    }

    &[disabled] {
        cursor: no-drop;
        background: unset;
        background-color: inherit !important;
        color: gray;
        text-decoration: none;
    }

    &.primary {
        color: var(--clr-primary);
        background-color: var(--thm-primary);
        border: unset;

        &:hover {
            background: unset;
            background-color: var(--thm-primary);
        }
    }
    &.secondary {
        color: var(--thm-secondary);
        background-color: transparent;
        border-color: var(--thm-secondary-opacity);

        &:hover {
            color: var(--thm);
            border-color: var(--thm-secondary);
        }
    }
    &.tertiary {
        color: var(--thm-tertiary-opacity);
        border-color: var(--thm-tertiary-opacity);

        &:hover {
            color: var(--thm-tertiary);
            border-color: var(--thm-tertiary)
        }
    }
    
    @each $key, $value in $cruds {
        &[data-crud=#{$key}] {
            $value-mix-percentage: 50%;
            $value-mix: mix($value, $bg-secondary, $value-mix-percentage);

            @include transition(color, background-color, border-color);
            
            &.primary {
                background-color: $value-mix;
            }
            &.secondary {
                color: mix($value, $clr-primary, 75%);
                border-color: mix($value, $bg-primary, $value-mix-percentage);
            }
            &.tertiary {
                color: mix($value, $clr-secondary, $value-mix-percentage / 1.5);
                border-color: mix($value, $bg-secondary, $value-mix-percentage / 1.5);
            }

    
            &:hover {
                background: unset;

                &.primary {
                    background-color: mix($value, $value-mix, $value-mix-percentage);
                }
                &.secondary {
                    color: $value;
                    background-color: mix($value, $bg-tertiary, 15%);
                    border-color: mix($value, $bg-tertiary, 75%);
                }
                &.tertiary {
                    color: mix($value, $clr-primary, $value-mix-percentage * 1.5);
                    background: mix($value, $bg-tertiary, 5%);
                    border-color: mix($value, $bg-tertiary, 75%);
                }
            }
        }
    }

    .fa {
        margin-right: .25em;
    }
}

input {
    border-radius: var(--border-radius);
    background-color: var(--bg-quinary);
    color: var(--clr-primary);
    padding-left: .25em;
    padding-top: .1em;
}

fieldset {
    @extend %shadow;
    @include transition(color, background-color, border-color);
    // @include betterminmax(width, auto, calc(100% - 1em), 100%);
    max-width: 100%;

    padding: 1em;
    padding-top: .5em;
    color: var(--clr-tertiary);
    background-color: var(--bg-tertiary);
    border-color: var(--thm-tertiary);
    border-radius: var(--border-radius);

    &:hover {
        color: var(--clr-secondary);
        border-color: var(--thm-secondary);

        legend {
            color: var(--thm-primary);
        }
    }

}
legend {
    color: var(--thm-secondary);
    font-size: 2rem;
    font-weight: bold;

    @include mq(tiny) {
        font-size: 2rem;
    }
}

table, .plan-card {
    @extend %shadow;

    display: grid;
    width: 100%;
    
    background-color: var(--bg-primary);
    border: 1px solid var(--thm-secondary);
    border-radius: var(--table-round);
    padding: .5em;


    thead {
        background-color: var(--bg-secondary);
        color: var(--thm-primary);
        border-radius: var(--table-round) var(--table-round) 0px 0px;
    }
    tbody tr:hover {
        background-color: var(--bg-quinary);
        color: var(--clr-primary);
    }

    tr {
        @include transition(background-color, color);
        display: grid;
        grid-template-columns: repeat(4, 25%); /* Course, Start, End, Duration */
        place-items: center;
    
        &:last-child {
            border-radius: 0px 0px var(--table-round) var(--table-round);
        }
    }
    
    --fs-th: 6ch;
    --fs-td: 4ch;

    th { font-size: var(--fs-th) }
    td { font-size: var(--fs-td) }

    @include mq(small) {
        --fs-th: 2.5rem;
        --fs-td: 3ch;
    }
    @include mq(tiny) {
        --fs-th: 2rem;
        --fs-td: 2ch;
    }
}

textarea {
    height: 100%;
    width: 100%;
    
    background-color: var(--bg-quaternary);
    color: var(--clr-secondary);
    border-radius: var(--border-radius);
    padding: .25em;
    font-size: 1rem;
    resize: none;

    &:focus {
        outline: unset;
    }
}