@import '../scss/lib';

.page-content {
    @include animate(fade-in);
    display: grid;
    grid-template-rows: minmax(75vh, auto);

    min-height: 85vh;
    overflow-y: auto;
    width: auto;

    margin: .5rem;
    padding: .5rem;
    border-radius: var(--border-radius);
}