@import '../scss/lib/maps';

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {
    background: var(--bg-tertiary);
  
    &:hover { 
        background: var(--bg-quaternary);
    }
}
::-webkit-scrollbar-thumb {
    $background: mix($bg-quinary, $thm-secondary, 85%);
    background: $background;
  
    &:hover { background: lighten($bg-tertiary, 25%) }
}