@import 'components/shared/scss/lib/mixins';

.container.bookmark-list {
    // @include betterminmax(width, auto, auto, 16vw);
    // @include betterminmax(height, auto, auto, 75vh);
    
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    overflow-x: auto;
    
    border: 1px solid var(--bg-quaternary);
    border-radius: var(--border-radius);
    padding: 1em;
}
.bookmark-list {
    align-items: flex-start;
    font-size: 125%;
    max-height: 100%;

    h1 {
        font-size: 2em;
        color: var(--thm-primary);
        text-decoration: underline;
    }

    &-item {
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;

        .link-item { padding: 0 .5em; }
        
        .bookmark-selected {
            min-width: 17.5px;
            animation: unset;

            &.animation-reverse, 
            &.animation-reverse ~ .link-item {
                @include animate(fade-out);
            }
        }
    }
}