@import 'components/shared/scss/lib/mixins';

.container.bookmark-list {
    @include betterminmax(width, auto, auto, 16vw);
    @include betterminmax(height, auto, auto, 75vh);

    position: fixed;
    left: 1em;
    z-index: 2;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    overflow-x: auto;
    
    border: 1px solid var(--bg-quaternary);
    border-radius: var(--border-radius);
    padding: .5em;
}
.bookmark-list {
    align-items: flex-start;

    h1 {
        font-size: 2em;
        color: var(--thm-primary);
        text-decoration: underline;
    }

    &-item {
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;

        .link-item { padding: 0 .5em; }
        
        .bookmark {
            position: relative;
            right: unset;
            top: unset;
            min-width: 17.5px;
        }
    }
}