@import 'components/shared/scss/lib';

.bookmark {
    @include transition(border-color, background-color);
    font-size: 40px;
    color: var(--thm-tertiary);

    &:hover {
        color: var(--clr-tertiary);
        cursor: pointer;
    }

    &-selected {
        $animation-time: 250ms;
        --animation-time: #{$animation-time};

        color: var(--thm-secondary);
        z-index: 1;
        @include animate-property(bookmark-animation, transform, translateY(0%), translateY(-50%));
        @include animate(bookmark-animation, #{$animation-time});
    
        &.animation-reverse {
            @include animate-property(bookmark-animation-reverse, transform, translateY(-50%), translateY(0%));
            @include animate(bookmark-animation-reverse, #{$animation-time});
        }
    }
}