@import 'components/shared/scss/lib';

.bookmark {
    @include transition(border-color, background-color);
    position: absolute;
    right: .5vw;
    font-size: 40px;
    color: var(--thm-tertiary);

    &:hover {
        color: var(--clr-tertiary);
        cursor: pointer;
    }

    &-selected {
        color: var(--thm-secondary);
        top: -.25em;
        z-index: 3;
    }
}