#app {
    position: relative;
    margin: 1%;
    width: 98%;
    height: 98%;

    > * {
        height: inherit;
        width: inherit;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}