@import 'components/shared/scss/lib/mixins';
@import 'components/shared/scss/lib/variables';

.container.modal {
    @include max();
    position: fixed;
    inset: 0 0 0 0;
    z-index: 100;
    display: grid;
    place-items: center;
    background-color: var(--bg-secondary-opacity);
    @include animate(fade-in, $animation-time);


    &-content {
        @include betterminmax(height, 45vh, fit-content, 90vh);
        @include betterminmax(width, 50vw, fit-content, 80vw);

        display: grid;
        place-items: center;

        padding: 1.5rem;
        background-color: var(--bg-quaternary);
        border-radius: var(--border-radius);
        box-shadow: 0px 1vh 5vh black;

        .image-container {
            max-height: 75vh;
            overflow-y: auto;
            padding: .5em;
        }

        img {
            max-width: 100%;
            border-radius: var(--border-radius);
        }
    }

    .modal-exit {
        position: absolute;
        color: map-get($cruds, delete);
        font-size: 1.5rem;
        inset: .25rem .25rem auto auto;
        cursor: pointer;
        z-index: 101;
    }

    &.animation-reverse {
        @include animate(fade-out, $animation-time);
    }
}