.footer {
    min-height: 7.5vh;

    // .image-container, .link-item {
    * {
        width: auto !important;
        font-size: 1.25rem;
    }
    .navbar {
        max-width: 25vw;
    }
    #occupation-string {
        padding: 0;
    }
}