@import 'components/shared/scss/lib';

.footer {
    min-height: 7.5vh;
    justify-content: space-evenly;
    align-items: center;

    * {
        width: auto !important;
        font-size: 1em;

        @include mq(micro) {
            font-size: 1em;
        }
    }

    .navbar {
        max-width: 25vw;

        ul {
            margin: 0;
        }
    }
    
    .link-item-hoverable a:hover {
        background: unset;
    }

    #occupation-string {
        padding: 0;
    }

    @include mq(medium) {
        display: grid;
        grid-template-areas: 
            "logo occupation occupation copyright"
            "navigation navigation navigation navigation"
            "totop totop language language"
        ;

        gap: .25em;

        #copyright {
            width: fit-content;
            text-align: center;
        }

        .navbar {
            max-width: 100%;
            grid-area: navigation;
        }
        #occupation-string {
            grid-area: occupation;
            font-size: 1.2em;
        }

        .to-top {
            grid-area: totop;
            word-break: break-word;
        }
        #language-selector {
            grid-area: language;
            justify-content: center;

            input {
                max-width: 50%;
            }
        }
    }
    @include mq(micro) {
        grid-template-areas: 
            "logo" 
            "copyright"
            "totop" 
            "occupation"
            "language"
        ;
    }
}