.img-container {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;
    border-radius: $border-radius;
    border: 1px solid $bg-secondary;
    overflow-y: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .5em;

    background-color: $bg-secondary;
}