@import '../../scss/lib/mixins';    

.container {
    @extend %shadow;
    background-color: var(--bg-secondary);
    width: 100%;
    height: 100%;

    &-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }   
}

.img-container {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-secondary);
    overflow-y: auto;
    overflow-x: hidden;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .5em;
    padding: .5em;
    height: max-content;

    background-color: var(--bg-secondary);

    button {
        flex: 1 1 calc(33% - 1em);
    }

    @include mq(tiny) {
        flex-direction: column;
    }
}