@import 'components/shared/scss/lib/partials';

.filter-menu-option {
    @extend %flexible;
    flex-direction: row;
    overflow-x: auto;
    // max-height: 2rem;

    .title {
        font-weight: bold;
    }
    .description {
        color: var(--clr-quinary);
        width: max-content;
        overflow-x: visible;
        word-break: keep-all;
    }
}