.hero-header {
    background-image: url('https://raw.githubusercontent.com/DanielSimonsen90/SKP/main/Application/CV%20thing/images/code.png');
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;

    // box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    height: 20vh;

    .pfp {
        --size: 10em;
    }
}


#socials a {
    text-decoration: none;
}

#info {
    display: grid;
    gap: 1em;
}

#abilities {
    display: grid;
    grid-template-areas:
        "skills education info"
        "skills languages info";
    gap: 1em;

    $areas: (
        skills,
        education,
        languages,
        info
    );

    @each $area in $areas {
        $index: index($areas, $area);

        .ability:nth-child(#{$index}) {
            grid-area: $area;
        }
    }

    .ability {
        display: flex;
        flex-direction: column;
        gap: 1ch;
    }
}

.bar {
    display: grid;
    gap: .5ch;
}

.lang {
    display: flex;
    align-items: center;
    gap: .5ch;
}

.content {
    margin-top: .5em;
}

#hobbies .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em 1em;

    header {
        grid-area: header;
    }
}

#projects .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

#education {
    display: grid;
    max-width: max-content;
    margin: 0 auto;

    p {
        display: grid;

        span {
            margin: 0;
        }
    }
}