@import 'components/shared/scss/lib/mixins';

#admin-page {
    display: grid;
    grid-template-rows: 10vh auto;
    width: 100%;
    height: 100%;
    grid-gap: .5em 0;

    @include mq(micro) {
        grid-template-rows: 7.5vh auto;
    }

    .container {
        height: fit-content;
        background-color: var(--bg-tertiary);
        border-radius: var(--border-radius);

        button {
            padding: .25em;
        }
    }
}

.admin-nav button {
    margin-top: auto;
    width: 100%;
}