@import 'components/shared/scss/lib';

#admin-page {
    @include size();
    display: grid;
    grid-template-rows: 10vh auto;
    grid-gap: .5em 0;

    @include mq(micro) {
        grid-template-rows: 7.5vh auto;
    }

    .container {
        height: fit-content;
        background-color: var(--bg-tertiary);
        border-radius: var(--border-radius);

        button {
            padding: .25em;
        }
    }
}

.admin-nav {
    .link-item-hoverable:hover a {
        @include gradient-background($bg-quaternary, $bg-tertiary);
    }

    button {
        margin-top: auto;
    }
}