@import 'components/shared/scss/lib';

#info-container-create-project, 
#info-container-update-project {
    height: 85vh;
    width: 65vw;

    .content {
        display: grid;
        grid-gap: 2vh;
    }

    & > fieldset > .content {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 85% auto;
        max-height: 100%;
    }

    .description label {
        flex-direction: column;
    }

    .project-information-row {
        width: 100%;
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        grid-gap: .5em 1em;
    
        &.description, 
        &.language-project, 
        &.name-display {
            grid-auto-flow: column;
        }
    
        &.language-project {
            grid-row: 2;
        }

        &.description label {
            width: 100%;
        }
    }
    
    .project-optional-row {
        display: grid;
    
        &.collab .content { 
            grid-template-rows: 1fr 1fr;
            grid-gap: 1vh; 
        }
    
        &.checkboxes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    
            label {
                display: flex;
                align-items: center;
                gap: .5em;
            }
        }

        &.project-image .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .button-container, .description {
        grid-column: 1 / span 2;
    }
    .button-container {
        height: fit-content;
        align-self: flex-end;
    }

    button {
        padding-top: .25em;
        padding-bottom: .25em;
    }
    label {
        display: flex;
        align-items: center;
        gap: .5em;

        input {
            flex: 1 0 max-content;
        }
    }
    img {
        max-width: 100%;
        // max-height: 12.5vh;
    }
}
#info-container-project-information .content {
    grid-template-rows: repeat(2, min-content) auto;

    .description label {
        gap: .25em;
    }
}
#info-container-optional .content {
    grid-template-rows: repeat(3, min-content) auto;
}

#info-container-delete {
    legend {
        font-size: 3em;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .button-container {
        height: fit-content;   
        background-color: unset;
        box-shadow: unset;
    }
    u {
        margin-left: .5ch;
    }
    h1 {
        text-align: center;
    }
}