:root {
    --theme-difference: 2.5%;
    --transition: .25s;

    --background-color-primary: #333;
    --background-color-primary-lighter: #444;
    --background-color-primary-darker: #222;

    --color-primary: #bbb;
    --color-primary-lighter: #ddd;
    --color-primary-darker: #aaa;

    --border-radius: 10px;
}