#language-selector {
    display: flex;
    gap: .5em;
    align-items: center;
    flex: 0 1 min-content;

    input {
        max-width: 10ch;
        text-overflow: ellipsis;
        flex: 0 1 min-content;
    }
}