@import '../../../shared/scss/lib';

#info-container-introtitle {
    .content {
        flex-direction: column;
    }

    .intro-text {
        font-size: 1.5rem;
        word-wrap: break-word;
        margin-bottom: 1.5rem;

        .link-item {
            font-size: inherit;   
        }

        p:nth-last-child(2) {
            display: inline;
        }

        @include mq(tiny) {
            word-break: break-word;

            p {
                margin-bottom: .5em;
            }
        }
    }

    .project-container {
        display: inline-flex;
        flex-direction: row;
        width: min-content;
        margin-top: inherit;
        gap: .25em;
    }

    .experienced-language {
        display: inline;
        font-size: 1rem;
    }
}

.other-languages {
    margin-left: .5em;
    display: inline-block;
}