@import 'components/shared/scss/lib/';

.admin-page {
    .info-container {
        font-size: 3em;
        position: absolute;
        max-width: 50vw;
        height: auto;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
    
        &.info-container-admin-login {
            background-color: unset;
        }
    
        * {
            text-align: center;
        }
    
        legend {
            font-size: inherit;
        }
    
        .content {
            display: flex;
            flex-direction: column;
            gap: .5em;
    
            input {
                font-size: inherit;
            }
        }
        
        @include mq(smaller) {
            font-size: 6vw;

            button.primary {
                font-size: .75em;
            }
        }
    }
}

.admin-login-modal {
    display: grid;
    gap: 1em;
    padding: 1em;

    p {
        font-size: 2em;
    }
}