#admin-page {
    .info-container {
        max-width: 50vw;
        height: auto;
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        &.info-container-admin-login {
            background-color: unset;
        }
    
        * {
            text-align: center;
        }
    
        legend {
            font-size: 3em;
        }
    
        .content {
            display: flex;
            flex-direction: column;
            gap: 1em;
    
            input {
                font-size: 3em;
            }
        }
    }
}

.admin-login-modal {
    display: grid;
    gap: 1em;
    padding: 1em;

    p {
        font-size: 2em;
    }
}