@import 'styles/utils/mixins';

#login-page {
    justify-content: center;
    align-content: center;
}

.login-container {
    // @include height-width(null, 15%, 30%);
    @include height-width(max, 40%, 50%);
    padding: .75em 1em;
    font-size: 2em;

    display: grid;
    grid-template-areas: 
        "username-label username-input"
        "password-label password-input"
        "button button"
    ;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, 33%);
    justify-items: stretch;

    label { grid-column: 1 / 3; }
    label:first-of-type {
        grid-row: 1;

        p { grid-area: username-label; }
        input { grid-area: username-input; }
    }
    label:last-of-type {
        grid-row: 2;

        p { grid-area: password-label; }
        input { grid-area: password-input; }
    }
    .login-button {
        grid-area: button;
        margin: .5%;
        width: 100%;
        font-size: inherit;
        line-height: 0;
    }
}