.login-container {
    height: 12.5%;
    width: 20%;

    display: grid;
    grid-template-areas: 
        "username-label username-input"
        "password-label password-input"
        "button button"
    ;
    grid-template-columns: 25% 75%;
    grid-template-rows: 33% 33% 33%;

    justify-items: center;

    label { grid-column: 1 / 3; }
    label:first-of-type {
        grid-row: 1;

        p { grid-area: username-label; }
        input { grid-area: username-input; }
    }
    label:last-of-type {
        grid-row: 2;

        p { grid-area: password-label; }
        input { grid-area: password-input; }
    }
    .login-button {
        grid-area: button;
        margin: .5%;
        width: 100%;        
    }
}