@import 'components/shared/scss/lib/mixins';

.logo {
    cursor: pointer;
    // height: 100%;
    width: 100%;

    img.icon {
        --size: 3rem;
    }
}
img.icon {
    --size: 25px;
    @include betterminmax(height, var(--size), auto, var(--size));
    @include betterminmax(width, var(--size), auto, var(--size));
}