@import 'components/shared/scss/lib/mixins';
@use "sass:map";

@mixin linear-gradient(
    $top-bottom: var(--bg-quaternary), 
    $middle: var(--bg-tertiary),
    $percent: 33%
) {
    background: linear-gradient(
        to bottom, 
        $top-bottom, 
        $middle $percent, 
        $top-bottom
    );
}

.project-card {
    @include linear-gradient();
    @include transition(background);
    
    display: grid;
    grid-gap: .5em 0em;
    min-height: 50vh;
    max-width: calc(100vw - 2em);
    padding: 1em;
    border-radius: var(--border-radius);
    border: 2px solid var(--bg-quaternary);

    &:hover {
        @include linear-gradient(var(--bg-quinary), var(--bg-quaternary));
    }
    
    &-mid {
        &-top, &-bottom {
            @include linear-gradient(var(--bg-secondary), var(--bg-tertiary), 45%);
        }

        &-top {
            width: 100%;
            min-height: 15vh;
        }
        &-bottom.img-container {
            height: 12.5vh !important;
            overflow-y: auto;
            box-shadow: unset;
            margin-top: .5em;

            .img-container {
                height: 100% !important;
            }
        }
    }
    &-bottom.button-container {
        box-shadow: unset;
    }

    img {
        align-self: flex-start;
        width: 100%;
        height: 100%;
    }
}

#admin-content .project-card .container {
    background-color: unset;
}