@import 'styles/utils/partials';

#dashboard-header {
    @extend %round;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 5vh;
    width: 99vw;
    background-color: var(--background-color-primary-darker);
    padding: 1.5vh .5vw;
    z-index: inherit;
}

.header-options {
    li {
        height: 5vh;
        font-size: 1.75em;
    }
}