@import 'components/shared/scss/lib/mixins';

#info-container-socialstitle {
    background-color: unset;
    flex: 0;

    &, fieldset {
        height: auto;
    }

    .content {
        display: flex;
        flex-direction: row;
        padding: 0 2em;
        gap: .5rem;
        
        @include mq(small) {
            padding: 0 .5em;
        }
    }
    
    ul {
        p {
            line-height: 1rem;
        }

        @include mq(tiny) {
            flex-wrap: wrap;
            gap: .5em 0;

            .link-item {
                width: 50%;
            }
        }
        @include mq(micro) {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
}