@import 'components/shared/scss/lib/mixins';

#info-container-socialstitle {
    background-color: unset;
    height: fit-content;

    .content {
        display: flex;
        flex-direction: row;
        padding: 0px 2em;
        
        @include mq(small) {
            padding: 0 .5em;
        }
    }
    
    li {
        min-height: 1.5rem;
    }
    ul {
        flex: 0;

        @include mq(tiny) {
            flex-wrap: wrap;
            gap: .5em 0;

            .link-item {
                width: 50%;
            }
        }
        @include mq(micro) {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
}