@import '../../scss/lib';

.info-container {
    &.container {
        $animation-time: 250ms;
        --animation-time: $animation-time;
        background-color: unset;
        box-shadow: unset;

        opacity: 0;
        transform: scale(0);
        @include animate(fade-in-visible);
    }

    &-flex {
        .content, ul {
            display: flex;
            justify-content: space-between;

            & > * {
                flex: 1;
            }
        }

        ul {
            flex-direction: row;
        }
    }

    fieldset, .content {
        height: 100%;
    }

    // @include mq(micro) {
    //     .content {
    //         max-width: 75vw;
    //     }
    // }
}