@import 'components/shared/scss/lib';

#about-me-page {
    display: grid;
    grid-template-areas: 
        "intro portrait"
        "sparetime sparetime"
    ;
    grid-template-columns: 75% auto;
    gap: .5em 1em;

    @include mq(small) {
        grid-template-areas: 
            "portrait"
            "intro"
            "sparetime"
        ;
        grid-template-columns: 1fr;
    }

    #info-container-introtitle {
        grid-area: intro;
    }
    .portrait-container {
        grid-area: portrait;
    }
}